{% include 'site/cabecera.html' %}
  
<div class="row">

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/fotos-premium/mujer-leyendo-libro-noche-casa-cerca_122732-1098.jpg?w=996" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Python</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="" role="button">Descarga</a>
                </p>
            </div>
        </div>
        
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/fotos-premium/mujer-leyendo-libro-noche-casa-cerca_122732-1098.jpg?w=996" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Python</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="" role="button">Descarga</a>
                </p>
            </div>
        </div>
        
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/fotos-premium/mujer-leyendo-libro-noche-casa-cerca_122732-1098.jpg?w=996" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Python</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="" role="button">Descarga</a>
                </p>
            </div>
        </div>
        
    </div>

    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/fotos-premium/mujer-leyendo-libro-noche-casa-cerca_122732-1098.jpg?w=996" alt="Title">
            <div class="card-body">
                <h4 class="card-title">Python</h4>
                <p class="card-text">
                    <a name="" id="" class="btn btn-primary" href="" role="button">Descarga</a>
                </p>
            </div>
        </div>
        
    </div>
        
</div>


    
{% include 'site/pie.html' %}